services:
  - type: web
    name: synapsemail-backend
    env: node
    buildCommand: npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: PORT
        value: 5000
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        generateValue: true
      - key: JWT_EXPIRATION
        value: 7d
      - key: COMPANY_DOMAIN
        value: app.careerpluse.in
      - key: SMTP_HOST
        value: smtp.resend.com
      - key: SMTP_PORT
        value: 465
      - key: SMTP_USER
        value: resend
      - key: SMTP_PASS
        sync: false
      - key: SMTP_FROM
        value: admin@synapse.com
